body {
  --accent: #cd5875;
}

.markdown-section {
  max-width: 1000px;
}
.markdown-section iframe {
  min-width: 560px;
  margin: 0;
  border: none;
}

.github-corner {
  --accent: #fff;
  padding-right: 5px;
}

/* sidebar */
.sidebar {
  padding-top: 40px;
}

.sidebar-nav > ul > li {
  margin: 0 0 10px 0;
}
.sidebar-nav > ul > li > a {
  font-size: 18px;
}

.sidebar-nav > ul > li > ul > li {
  margin: 0 0 4px 0;
  line-height: 1.6em;
}
.sidebar-nav > ul > li > ul > li > a {
  font-size: 16px;
}
